name: Rust

on:
  push:
    branches: [ "Master" ]
  pull_request:
    branches: [ "Master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: RUSTC_BOOTSTRAP=1 cargo build --verbose
    - name: Run tests
      run: RUSTC_BOOTSTRAP=1 cargo test --verbose
